name: ML Pipeline CI with Dagger

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: false

      - name: Run Dagger pipeline (train)
        uses: dagger/dagger-for-github@v8.2.0
        with:
          workdir: go
          verb: run
          args: go run pipline.go
          version: "0.19.6"

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: model

  test:
    runs-on: ubuntu-latest
    needs: train          

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: model      

      - name: Validate model
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
        with:
          model-path: model   